<table class="table table-hover ">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">email</th>
            <th scope="col"></th>
            <th scope="col">full name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < users.length; i +=1 ) {%>
        <tr>
            <th scope="row"><%=i + 1%></th>
            <td><%=users[i].email %></td>
            <td>update</td>
            <td><%=users[i].fullName %></td>
            <td>delete</td>
        </tr>

        <%} %>
    </tbody>
</table>
